$accentColor: #2194f2;
$secondaryColor:#757575;

%footer-info__item{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	margin-top: 9px;
}

